html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  /* border: 1px red solid; */
}

h1 {
text-align: center;
}
p1 {
display: flex;
justify-content: center;
}

#equal{
width: 110px;
}

input {
width: 55px;
height: 55px;
}


#calculatorBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 430px;
  gap: 5px;
  border: 3px solid; 
  border-radius: 10px;
}
#buttons {
display: flex;
flex-direction: column;
margin-bottom: 20px;
}

#rowOne {
display: flex;
flex-direction: row;

}
#rowTwo {
display: flex;
flex-direction: row;
}
#rowThree {
display: flex;
flex-direction: row;
}
#rowFour{
display: flex;
flex-direction: row;
}

#rowFive{
display: flex;
flex-direction: row;
justify-content: flex-end;
max-width: 300px;
}

#displayBox{
display: flex;
flex-direction: column;
justify-content: flex-start;
height: 120px;
width: 230px;
margin-top: 15px;
margin-bottom: 10px;
border: 3px solid; 
border-radius: 5px;
}
#displayCalculation{
display: flex;
justify-content: flex-end;
min-height: 15px;
}

#displayInput{
display: flex;
align-content: flex-end;
justify-content: flex-start;
font-size: 50px;
}

#sumBox{
font-size: 50px;

}